body {
    margin: 0;
    padding: 0;
    background: #f1f5f9;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.bg {
    background-image: url('https://i.ibb.co/gFHLNt99/top-view-agendas-succlent-plant.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
}

.calculator {
    width: 360px;
    margin: auto;
    background: #3f4746;
    border: 5px solid white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.display {
    background: #f8fafc;
    border-radius: 10px;
    padding: 20px;
    font-size: 32px;
    text-align: right;
    color: #111827;
    margin-bottom: 20px;
    min-height: 40px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    overflow-x: auto;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.key {
    background: #d3e4df;
    border: none;
    font-size: 20px;
    padding: 20px;
    border-radius: 14px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
    transition: background 0.2s ease, transform 0.1s ease;
}

.key.operator {
    background: #bbebdf;
    color: #1e293b;
}

.key.equal {
    background: #1a6149;
    color: white;
    grid-column: span 1;
}

.key.zero {
    grid-column: span 2;
}

.key:hover {
    background: #44856a;
}

.key:active {
    transform: scale(0.96);
    background: #94a3b8;
}